@import "../variables.scss";

.heading {
    text-align: center;
    color: $acm-primary;
    position: relative;
    margin: 20px 0;
    margin-bottom: 40px;

    &::after {
        content: "";
        position: absolute;
        height: 10px;
        width: 60px;
        left: 50%;
        transform: translate(-50%);
        background: #000;
        bottom: -20px;
    }
}

.about {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.description {
    // width: 60%;

    .about_text {
        text-align: justify;
        line-height: 25px;

        .emphasize {
            font-weight: 700;
        }
    }
    a {
        color: $acm-primary;
    }
}

@media screen and (max-width: $navbar-breakpoint){
    .description {
        width: 100%;
    }

    .about {
        .img_wrapper {
            display: none;
        }
    }

    .college_photos {
        flex-direction: column;
        img {
            width: 80%;
            object-fit: cover;
        }
    }
}

.spacer {
    height: 50px;
}

.section {
    .section_heading {
        text-align: center;
        margin: 10px 0;
        background: $acm-primary-bg;
        border-radius: 10px;
        padding: 5px 0;
    }

    .section_details {
        .text {
            text-align: justify;
            // word-break: normal;
            line-height: 25px;
            // display: inline;
        }
        a {
            // text-decoration: underline;
            color: $acm-primary;
        }
    }
}

.link {
    // text-decoration: underline;
    color: $acm-primary;
}

.college_heading {
    font-size: 36px;
    margin: 20px 0;
    position: relative;
    text-align: right;
    text-align: center;

    &::after {
        content: "";
        position: absolute;
        bottom: -15px;
        right: 50%;
        transform: translate(50%);
        background: $acm-primary;
        height: 10px;
        width: 70px;
    }
}

.college_description{
    text-align: justify;
    line-height: 25px;
    a {
        // text-decoration: underline;
        color: $acm-primary;
    }
}

.college_photos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
    img {
        height: 400px;
        // border: 1px solid $acm-primary;
        // box-shadow: 1px 1px 1px black;
        border-radius: 20px;
    }
}