@import "../variables.scss";

.heading {
    text-align: center;
    color: $acm-primary;
    position: relative;
    margin: 20px 0;

    &::after {
        content: "";
        position: absolute;
        height: 10px;
        width: 60px;
        left: 50%;
        transform: translate(-50%);
        background: #000;
        bottom: -20px;
    }
}

.subheading {
    margin-top: 10px;
    line-height: 25px;
    text-align: justify;
}

.technical_tracks {
    line-height: 30px;
    background-color: $acm-primary-bg;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px 0;
}

.submission {
    h2 {
        margin: 10px 0;
    }
    .submission_details {
        a {
            color: $acm-primary;
            font-weight: bold;
        }
    }

    ul {
        display: flex;
        flex-direction: column;

        li {
            display: flex;
            align-items: center;
            gap: 5px;
            line-height: 25px;

            svg {
                height: 16px;
                width: 16px;
            }
        }
    }

    .special_note {
        margin: 10px 0;
    }
}

.tracks {
    margin: 20px 0;
    line-height: 25px;
}

.download_button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
    button {
        border: 2px solid $acm-primary;
        padding: 10px 30px;
        font-size: 28px;
        margin: 20px 0;
        background-color: $acm-primary;
        color: white;
        -webkit-box-shadow: 9px -2px 28px 5px rgba(0, 0, 0, 0.41);
        -moz-box-shadow: 9px -2px 28px 5px rgba(0, 0, 0, 0.41);
        box-shadow: 9px -2px 28px 5px rgba(0, 0, 0, 0.41);

        &:hover {
            cursor: pointer;
            box-shadow: 16px 2px 14px 5px rgba(0, 0, 0, 0.41);
        }
    }
}

.paper_track {
    margin-top: 10px;
}