@import '../variables.scss';

.heading {
    text-align: center;
    color: $acm-primary;
    position: relative;
    margin: 20px 0;

    &::after {
        content: "";
        position: absolute;
        height: 10px;
        width: 60px;
        left: 50%;
        transform: translate(-50%);
        background: #000;
        bottom: -20px;
    }
}

.note {
    text-align: justify;
    font-size: 14px;
    margin: 10px 0;

}

.section {
    .section_heading {
        text-align: center;
        margin: 10px 0;
        background: $acm-primary-bg;
        border-radius: 200000px;
        font-weight: 300;
        margin: 20px 0;
        padding: 5px 0;
        text-transform: uppercase;
    }

    .section_details {
        line-height: 25px;
        margin: 10px 0;
        a {
            color: $acm-primary;
        }
    }
}
.register {
    a {
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            border: 2px solid $acm-primary;
            padding: 10px 30px;
            font-size: 28px;
            margin: 20px 0;
            background-color: $acm-primary;
            color: white;
            -webkit-box-shadow: 9px -2px 28px 5px rgba(0, 0, 0, 0.41);
            -moz-box-shadow: 9px -2px 28px 5px rgba(0, 0, 0, 0.41);
            box-shadow: 9px -2px 28px 5px rgba(0, 0, 0, 0.41);

            &:hover {
                cursor: pointer;
                box-shadow: 16px 2px 14px 5px rgba(0, 0, 0, 0.41);
            }
        }
    }

    @media screen and (max-width: 400px) {
        a button {
            font-size: 18px;
        }
    }
}