@import "../variables.scss";

.heading {
    text-align: center;
    color: $acm-primary;
    position: relative;
    margin: 20px 0;

    &::after {
        content: "";
        position: absolute;
        height: 10px;
        width: 60px;
        left: 50%;
        transform: translate(-50%);
        background: #000;
        bottom: -20px;
    }
}

.description {
    margin: 20px 0;
    line-height: 25px;
    text-align: justify;
}

.subheading {
    margin: 10px 0;
    background-color: $acm-primary-bg;
    padding: 10px 20px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
}

.routes {
    line-height: 25px;
    text-align: justify;

    display: flex;
    flex-direction: column;
}

.image {
    height: 300px;
    width: 500px;
    object-fit: cover;
    margin: 30px auto;
}

.hotels {
    display: flex;
    justify-content: center;
    align-items: center;
    // flex-direction: column;

    .good_hotels {
        margin: 40px;

        line-height: 25px;
        a {
            color: $acm-primary;
        }
    }
}

.attractions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    img {
        height: 400px;
    }
}
@media screen and (max-width: 900px) {
    .attractions {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        img {
            height: 300px;
        }
    }
}

.popular {
    text-align: center;
    margin: 20px 0;
    a {
        color: $acm-primary;
    }
}

.places {
    display: flex;
    flex-direction: column;

    >div {
        display: flex;
        align-items: center;
        gap: 20px;
        margin: 20px 0;
        img {
            height: 200px;
            border-radius: 20px;
        }

        >div {
            a {
                color: $acm-primary;
                text-decoration: underline;
            }
        }
    }
    @media screen and (max-width: 900px) {
        >div {
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            img {
                height: 300px;
            }
        }
    }
}