@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
    /* font-family: "gilroy"; */
    font-family: "Roboto", sans-serif;
}
*::selection{
  background: lightgreen;
  color: black;
}
img::selection{
  background-color: transparent;
}
button,
a {
    all: unset;
}
button{
    border-radius: 20px;
}
a,
button {
    cursor: pointer;
}
::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Style for scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 12px; /* Adjust the border-radius as needed */
  }
  
  /* Style for scrollbar thumb on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  /* Make the scrollbar thinner */
  ::-webkit-scrollbar {
    width: 8px; /* Adjust the width as needed */
  }