$font-primary-color:#09a861 ;
$font-secondary-color: #09a861;
$link-primary-color: #09a861;

$navbar-breakpoint: 1260px;
$sidebar-breakpoint: 420px;
$tablet-breakpoint: 768px;
$laptop-breakpoint: 1024px;

$acm-primary: rgb(76, 160, 48);
$acm-primary-bg: rgba(103, 180, 86, 0.4);
$acm-text-bg: rgb(60, 74, 85);
$error-color: #de071c;
